SUPABASE_URL=https://ljlrtqvkqkyylcqitqpk.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqbHJ0cXZrcWt5eWxjcWl0cXBrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzAzNiwiZXhwIjoyMDg4OTI5MDM2fQ.c8UumnaVUITuh9xN0Dk1g79wNEww5R-lFePk8A4gVhY
RESEND_API_KEY=re_...sua_chave_resend...
EMAIL_FROM=noreply@resend.dev
MP_ACCESS_TOKEN=nao_configurado
MP_WEBHOOK_SECRET=locuni123
PORT=3000
FRONTEND_URL=https://locuni-pass.netlify.app
NODE_ENV=production
ADMIN_SECRET=locuni2026admin
